* {
    box-sizing: border-box;
  }

body {
    background: #000;
    text-align: center;
    color: #EFE7DA;
    max-width: 960px;
    margin: auto;

}
  
.container {
    width: 100%;
    max-width: 960px;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    margin: 0 auto;
}
  
h1 {
    /* position: relative; */
    font-family: 'Creepster', cursive;
    font-size: 150px;
    color: #E55812;
    /* z-index: 1; */
    margin-top: 0px;
    margin-bottom: 0px;
}
  
h2 {
    /* position: absolute; */
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: #EFE7DA;
    margin-top: 0px;
    /* z-index: 2;
    top: 0px; */

}

h3, p {
    font-family: 'BioRhyme', serif;
    color: #EFE7DA;
}

/* header */
  
#cool-header {
    width: 100%;
    /* background-color: yellow; */
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

/*game */

#left-panel {
    width: 25%;
    float: left;
}

#right-panel {
    width: 75%;
    float: right;
}